@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;900&family=Source+Serif+Pro:wght@300;600;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", "sans-serif";
  box-sizing: border-box; }

h1 {
  padding: 15px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  h1:hover {
    color: #ffffff7a; }

/* Header */
.header {
  display: flex;
  flex-direction: column; }
  .header a:hover {
    color: black; }
  .header img {
    width: 350px;
    align-self: center; }

.header .color {
  color: white; }
  .header .color:hover {
    color: black;
    transition: 2s; }

.nav-link {
  color: white; }

/* Footer */
.backgroundFooter {
  text-align: center;
  background-image: linear-gradient(107deg, white, #0051ffd7); }
  .backgroundFooter a {
    color: black; }

.fa-instagram {
  padding: 5px 10px;
  font-size: 3rem;
  color: aliceblue; }
  .fa-instagram:hover {
    background-color: rgba(82, 88, 88, 0.466);
    transition: 0.3s; }

.fa-twitter {
  padding: 5px 10px;
  font-size: 3rem;
  color: aliceblue; }
  .fa-twitter:hover {
    background-color: rgba(82, 88, 88, 0.466);
    transition: 0.3s; }

.fa-chrome {
  padding: 5px 10px;
  font-size: 3rem;
  color: aliceblue; }
  .fa-chrome:hover {
    background-color: rgba(82, 88, 88, 0.466);
    transition: 0.3s; }

.copyright {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center; }

/* Index */
.container {
  background-image: linear-gradient(325deg, #00000094, #0d6efdab); }
  .container p {
    font-weight: bold;
    font-size: larger;
    margin-right: 120px;
    margin-left: 120px;
    text-align: center; }

.py-5 {
  padding-top: 1rem !important; }

/* Manga */
.cardsManga {
  padding-bottom: 50px;
  background-image: linear-gradient(221deg, black, #08429894); }
  .cardsManga h1 {
    color: #fff; }
    .cardsManga h1:hover {
      color: #0bd7cda3; }
  .cardsManga h5 {
    text-align: center;
    font-weight: bold; }

.card {
  width: 100%;
  background-image: linear-gradient(78deg, #00000082, #0842988f);
  padding: 0;
  margin: 5px auto; }

.row {
  --bs-gutter-x: 0rem; }

.cardsSeries {
  background-image: linear-gradient(206deg, #0d6efd, white);
  padding-bottom: 50px; }
  .cardsSeries h5 {
    text-align: center;
    font-weight: bold; }

@media (min-width: 1200px) {
  .cardsSeries {
    background-image: url(../assets/fotos/12casas.webp); }
    .cardsSeries h1 {
      color: #fff; }
      .cardsSeries h1:hover {
        color: #0bd7cda3; } }

.cardsPeliculas {
  background-image: linear-gradient(206deg, #0d6efd, white);
  padding-bottom: 50px; }
  .cardsPeliculas h5 {
    text-align: center;
    font-weight: bold; }

/* Autor */
.mainAutor {
  background-image: linear-gradient(60deg, #b4b5e73d, #4679c4ab); }
  .mainAutor p {
    font-weight: bold;
    font-size: larger;
    margin-right: 120px;
    margin-left: 120px;
    text-align: center; }

.mainContacto {
  background-repeat: round;
  background-image: url(../assets/fotos/saint-seiya-1080x609.jpg.webp); }
  .mainContacto form input:focus,
  .mainContacto form textarea:focus {
    background-color: #00ffff29; }

.container {
  max-width: 100%;
  background-color: #e7e3e9a3; }

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; }

.form {
  width: 450px; }

.botones {
  text-align: center;
  padding: 20px; }

@media (max-width: 500px) {
  .mainContacto {
    background-size: contain; } }

.mainGaleria {
  background-image: linear-gradient(325deg, #00000094, #0d6efdab); }

.gridContainer {
  display: grid;
  grid-template-columns: 17vw, 17vw, 16vw, 16vw, 17vw, 17vw;
  grid-template-rows: repeat(6, 200px);
  gap: 10px;
  padding: 10px;
  grid-auto-flow: row;
  grid-template-areas: "img1 img1 img1 img3 img2 img2" "img6 img6 img4 img3 img2 img2" "img6 img6 img4 img5 img5 img5" "img12 img10 img10 img10 img7 img7" "img12 img11 img11 img9 img7 img7" "img12 img11 img11 img9 img8 img8"; }
  .gridContainer .img1 {
    grid-area: img1;
    background-image: url("https://res.cloudinary.com/dtqe9t072/image/upload/v1663599521/bronce-omega_xwrfyz.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: end; }
    .gridContainer .img1 .icon {
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c; }
  .gridContainer .img2 {
    grid-area: img2;
    background-image: url("https://res.cloudinary.com/dtqe9t072/image/upload/v1663599523/caballeros-de-bronce-y-athena_of2lrs.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: end; }
    .gridContainer .img2 .icon {
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c; }
  .gridContainer .img3 {
    grid-area: img3;
    background-image: url("https://res.cloudinary.com/dtqe9t072/image/upload/v1663599520/caballeros-dorados-espectros_jl1ej8.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: end; }
    .gridContainer .img3 .icon {
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c; }
  .gridContainer .img4 {
    grid-area: img4;
    background-image: url("https://res.cloudinary.com/dtqe9t072/image/upload/v1663599521/caballeros-dorados-y-athena_r2wmg5.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: end; }
    .gridContainer .img4 .icon {
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c; }
  .gridContainer .img5 {
    grid-area: img5;
    background-image: url("https://res.cloudinary.com/dtqe9t072/image/upload/v1663599520/dioses-hades_ydr3p2.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: end; }
    .gridContainer .img5 .icon {
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c; }
  .gridContainer .img6 {
    grid-area: img6;
    background-image: url("https://res.cloudinary.com/dtqe9t072/image/upload/v1663599523/hilda-de-polaris_b0scgb.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: end; }
    .gridContainer .img6 .icon {
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c; }
  .gridContainer .img7 {
    grid-area: img7;
    background-image: url("https://res.cloudinary.com/dtqe9t072/image/upload/v1663599522/poseidon_bnebzq.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: end; }
    .gridContainer .img7 .icon {
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c; }
  .gridContainer .img8 {
    grid-area: img8;
    background-image: url("https://res.cloudinary.com/dtqe9t072/image/upload/v1663599521/saga-de-gemini_nlamoa.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: end; }
    .gridContainer .img8 .icon {
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c; }
  .gridContainer .img9 {
    grid-area: img9;
    background-image: url("https://res.cloudinary.com/dtqe9t072/image/upload/v1663599523/saintia-sho_lxwjah.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: end; }
    .gridContainer .img9 .icon {
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c; }
  .gridContainer .img10 {
    grid-area: img10;
    background-image: url("https://res.cloudinary.com/dtqe9t072/image/upload/v1663599522/seiya_wmd95a.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: end; }
    .gridContainer .img10 .icon {
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c; }
  .gridContainer .img11 {
    grid-area: img11;
    background-image: url("https://res.cloudinary.com/dtqe9t072/image/upload/v1663599522/shion-de-aries_naxdas.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: end; }
    .gridContainer .img11 .icon {
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c; }
  .gridContainer .img12 {
    grid-area: img12;
    background-image: url("https://res.cloudinary.com/dtqe9t072/image/upload/v1663599523/siegfried_q9odgg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    justify-content: end; }
    .gridContainer .img12 .icon {
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c; }

@media (max-width: 800px) {
  .gridContainer {
    grid-template-areas: "img1 img1 img1 img2 img2 img2" "img3 img3 img3 img4 img4 img4" "img5 img5 img5 img6 img6 img6" "img7 img7 img7 img8 img8 img8" "img9 img9 img9 img10 img10 img10" "img11 img11 img11 img12 img12 img12"; } }

@media only screen and (min-width: 250px) and (max-width: 470px) {
  .container p {
    margin-left: 15px;
    margin-right: 15px; } }
