//Contact
.mainContacto {
  background-repeat: round;
  background-image: url(../assets/fotos/saint-seiya-1080x609.jpg.webp);
  form {
    input,
    textarea {
      &:focus {
        background-color: #00ffff29;
      }
    }
  }
}

.container {
  max-width: 100%;
  background-color: #e7e3e9a3;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  width: 450px;
}

@media (max-width: 500px) {
  .mainContacto {
    background-size: contain;
  }
}
