.mainGaleria {
  background-image: linear-gradient(325deg, #00000094, #0d6efdab);
} 
.gridContainer {
  display: grid;
  grid-template-columns: 17vw, 17vw, 16vw, 16vw, 17vw, 17vw;
  grid-template-rows: repeat(6, 200px);
  gap: 10px;
  padding: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "img1 img1 img1 img3 img2 img2"
    "img6 img6 img4 img3 img2 img2"
    "img6 img6 img4 img5 img5 img5"
    "img12 img10 img10 img10 img7 img7"
    "img12 img11 img11 img9 img7 img7"
    "img12 img11 img11 img9 img8 img8";

  & .img1 {
    grid-area: img1;
    background-image: url('./assets/fotos/galeria/bronce-omega.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & .text {
      text-align: center;
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & .img2 {
    grid-area: img2;
    background-image: url('https://res.cloudinary.com/dtqe9t072/image/upload/v1663599523/caballeros-de-bronce-y-athena_of2lrs.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & .text {
      text-align: center;
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & .img3 {
    grid-area: img3;
    background-image: url('./assets/fotos/galeria/caballeros-dorados-espectros.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & .text {
      text-align: center;
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & .img4 {
    grid-area: img4;
    background-image: url('./assets/fotos/galeria/caballeros-dorados-y-athena.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & .text {
      text-align: center;
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & .img5 {
    grid-area: img5;
    background-image: url('./assets/fotos/galeria/dioses-hades.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & .text {
      text-align: center;
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & .img6 {
    grid-area: img6;
    background-image: url('./assets/fotos/galeria/hilda-de-polaris.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & .text {
      text-align: center;
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & .img7 {
    grid-area: img7;
    background-image: url('./assets/fotos/galeria/poseidon.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & .text {
      text-align: center;
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & .img8 {
    grid-area: img8;
    background-image: url('./assets/fotos/galeria/saga-de-gemini.png');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & .text {
      text-align: center;
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & .img9 {
    grid-area: img9;
    background-image: url('./assets/fotos/galeria/saintia-sho.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & .text {
      text-align: center;
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & .img10 {
    grid-area: img10;
    background-image: url('./assets/fotos/galeria/seiya.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & .text {
      text-align: center;
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & .img11 {
    grid-area: img11;
    background-image: url('./assets/fotos/galeria/shion-de-aries.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & .text {
      text-align: center;
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & .img12 {
    grid-area: img12;
    background-image: url('../../assets/fotos/galeria/siegfried.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & .text {
      text-align: center;
      font-size: 1.2em;
      padding: 3px;
      border-radius: 8px;
      background: #e0e0e0be;
      box-shadow: 5px 5px 8px #5c5c5c, -5px -5px 8px #5c5c5c;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
