//Series
.cardsSeries {
  background-image: linear-gradient(206deg, #0d6efd, white);
  padding-bottom: 50px;
  h5 {
    text-align: center;
    font-weight: bold;
  }
}

@media  (min-width: 1200px) {
  .cardsSeries {
    background-image: url(../assets/fotos/12casas.webp);
    h1 {
      color: #fff;
      &:hover {
        color: #0bd7cda3;
      }
    }
  }
}
