//Background anime
$anime: linear-gradient(206deg, #0d6efd, white);
//Redes
$padding: 5px 10px;
$font-size: 3rem;
$color: aliceblue;
//Parrafos en index y en autor
$font-weight: bold;
$fontp: larger;
$margin-right: 4rem;
$margin-left: 4rem;
$text-align: center;
